.header__lang-link {
  margin: 0;
  padding: 0;
  align-self: end;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.2;
  cursor: pointer;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.3s linear;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}
