.photo-grid {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    margin: 0 var(--header-side-margin-xl) 0;
    gap: 16px;
  }
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    margin: 0 var(--header-side-margin-lg) 0;
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, max-content));
    margin: 0 var(--header-side-margin-md) 0;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, max-content));
    margin: 0 var(--header-side-margin-sm) 0;
    gap: 12px;
  }
}
