.header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, max-content);
  margin: 28px var(--outer-side-margin-lg) 48px;
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 28px auto 56px;
    width: 1184px;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 28px var(--outer-side-margin-lg) 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 28px var(--inner-side-margin-md) 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px var(--inner-side-margin-sm) 48px;
    font-size: 18px;
  }
}
