.cover__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 62.5%;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__text {
    gap: 16px;
  }
}
