.header__lang-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 18px;
  margin-bottom: 6px;
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 8px;
  }
}
